@model IEnumerable<IO.Swagger.Model.User>

<h2>Users</h2>
<table class="table">
	@foreach (var user in Model) {
		<tr>
			<td>
				<a asp-area=""
						asp-controller="Users"
						asp-action="Profile"
						asp-route-id="@user.Id"
				>
					@user.Name
				</a>
			</td>
			<td>@user.Role.Name</td>
		</tr>
	}
</table>
